<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration>
<Configuration status="WARN">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%m %throwable{short.message}%n">
			</PatternLayout>
		</Console>

		<File name="FileLog" fileName="debug.log" append="false" immediateFlush="true">
			<PatternLayout
				pattern="[%03sequenceNumber %level{lowerCase=true}] %file:%line %thread: %m %throwable%n">
			</PatternLayout>
		</File>
	</Appenders>

	<Loggers>
		<!-- Class level logging levels-->
		<Logger name="edu.usfca.cs272.QueryFileHandler" level="INFO" additivity="false"></Logger>
		<Logger name="edu.usfca.cs272.Driver" level="FATAL" additivity="false"></Logger>
		<Logger name="edu.usfca.cs272.ReadWriteLock" level="FATAL" additivity="false"></Logger>
		<Logger name="edu.usfca.cs272.WorkQueue" level="FATAL" additivity="false"></Logger>

		<Root level="ALL">
			<AppenderRef ref="Console" level="ALL" />
			<AppenderRef ref="FileLog" level="ALL" />
		</Root>
	</Loggers>
</Configuration>